*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Popping",sans-serif;
}



a{
    color:white;
    text-decoration:none;
}
.navbar{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    padding:25px 9%;
    background:slateblue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    visibility:hidden;
    opacity:0;
    animation:show-content 1.5s linear forwards;
    animation-delay:2.0s;
}
@keyframes show-content{
    100%{
        visibility:visible;
        opacity:1;
    }
}
.navbar .logo{
    font-size: 30px;
    font-weight:700;
}
.navbar ul{
    display:flex;
}
.navbar ul li{
    list-style:none;
    margin-left:35px;
}
.navbar ul li a{
    font-size:20px;
    font-weight:500;
    transition:.5s;
}
.navbar ul li:hover a,
.navbar ul li:active a{
    color:green;
}
.home{
    display:flex;
    align-items:center;
    height:100vh;
    gap: 60px;
    padding:60px 9% 0;
    color:#fff;
    visibility:hidden;
    opacity:0;
    animation:show-content 1.5s linear forwards;
    animation-delay:2.0s;
}
.home-info h1{
    font-size:55px;
}
.home-info h2{
    font-size:30px;
    margin-top:-10px;
}
.home-info {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.home-info span {
    position: absolute;
    left: 95px; /* "I'm a " length ki adjust cheyyi */
    top: 125PX;
    color: transparent;
    -webkit-text-stroke: 0.7px #7cf03d;
    opacity: 0;
    white-space: nowrap;
    animation: display-text 20s linear infinite;
    animation-delay: calc(5s * var(--i));
    background: rgb(75, 30, 30);
}
@keyframes display-text {
   
    0%, 20%   { opacity: 0; }
    5%, 15%   { opacity: 1; }
    100%      { opacity: 0; }
}

.home-info h2 span::before{
    content:attr(data-text);
    position:absolute;
    width:100%;
    border-right:2px solid #7cf03d;
    color:#7cf03d;
    white-space:nowrap;
    overflow:hidden;
    animation:fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,100%{
        width:0;
    }
    70%,90%{
        wodth:100%;
    }
}
.home-info p{
    font-size:16px;
    margin:10px 0 25px;
}
.home-info .btn-sci{
    display:flex;
    align-items:center;
}
.btn{
    display:inline-block;
    padding:10px 30px;
    background: #7cf07c;
    border:2px solid #7cf07c;
    border-radius:10px;
    box-shadow:0 0 30px #7cf07c;
    FONT-SIZE:16PX;
    COLOR:#1F242D;
    FONT-WEIGHT:600;
    transition:.5s;
}
.btn:hover{
    background:transparent;
    color:#7cf03d;
    box-shadow:none;
}
.home-info .btn-sci .sci{
    margin-left:20px;

}
.home-info .btn-sci .sci a{
    display:inline-flex;
    padding:8px;
    border:2px solid #7cf03d;
    border-radius:50%;
    font-size:20px;
    color:green;
    margin:0 8px;
    transition:.5s;
}
.home-info .btn-sci .sci a:hover{
    background:#7cf03d;
    color:#1f242d;
    box-shadow:0 0 10px #7cf03d;
}
.home-img .img-box{
    position:relative;
    width:32vw;
    height:32vw;
    
    border-radius:50%;
    overflow:hidden;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background:conic-gradient(transparent,transparent,transparent,green);
    transform:rotate(0deg);
    animation:rotate 5s linear infinite;
}
.home-img .img-box::after{
    animation-delay:-5s;
}
@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position:relative;
    width:100%;
    height:100%;
    background:#1f242d;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    z-index:1;
    border:.1px solid #1f242d;
}
.home-img .img-box .img-item img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    mix-blend-mode:lighten;
}
.bars-animation{
    position:absolute;
    width:100%;
    height:100%;
    DISPLAY:flex;
    z-index:-1;
}
.bars-animation .bar{
    width:100%;
    height:100%;
    background:#1F242D;
   
    transform:translateY(-100%);
    animation:show-bars .5s ease-in-out forwards; 
    animation-delay:calc(.1s * var(--i))
}
@keyframes show-bars{
    100%{
        transform:translateY(0%);
    }
}